.App {
  display: grid;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 43%;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  background-color: rebeccapurple;
}
